{% extends "layout.html" %}

{% block title %}
    Common
{% endblock %}
{% block main %}
<br>
<br>
<br>
<br>
        <form action="\customaialerts" method="post">
            <div>
                <input autocomplete="off" autofocus class="form-control" name="intensity" placeholder="Monsoon Intensity" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="drainage" placeholder="Topography Drainage" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="rivermanagement" placeholder="River Management" type="text"/>
            </div>
            <p>   </p>
                <input autocomplete="off" autofocus class="form-control" name="deforestation" placeholder="deforestation" type="text"/>
            </div>
            <p>   </p>
                    <input autocomplete="off" autofocus class="form-control" name="urbanization" placeholder="urbanization" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="climate-change" placeholder="climate-change" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="DamsQuality" placeholder="DamsQuality" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="Silation" placeholder="Silation" type="text"/>
            </div>
            <p>   </p>
                <input autocomplete="off" autofocus class="form-control" name="AgriculturalPractices" placeholder="AgriculturalPractices" type="text"/>
            </div>
            <p>   </p>
                    <input autocomplete="off" autofocus class="form-control" name="Encroachments" placeholder="Encroachments" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="IneffectiveDisasterPreparedness" placeholder="ineffectiveDisasterPreparedness" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="drainagesystem" placeholder="drainagesystem" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="CoastalVulnerability" placeholder="CoastalVulnerability" type="text"/>
            </div>
            <p>   </p>
                <input autocomplete="off" autofocus class="form-control" name="Landslides" placeholder="Landslides" type="text"/>
            </div>
            <p>   </p>
                    <input autocomplete="off" autofocus class="form-control" name="Watersheds" placeholder="Watersheds" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="DeterioratingInfrastructure" placeholder="DeterioratingInfrastructure" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="PopulationScore" placeholder="PopulationScore" type="text"/>
            </div>
            <p>   </p>
            <div>
                <input autocomplete="off" autofocus class="form-control" name="Wetlandloss" placeholder="Wetlandloss" type="text"/>
            </div>
            <p>   </p>
                <input autocomplete="off" autofocus class="form-control" name="InadequatePlanning" placeholder="InadequatePlanning" type="text"/>
            </div>
            <p>   </p>
                    <input autocomplete="off" autofocus class="form-control" name="PoliticalFactors" placeholder="PoliticalFactors" type="text"/>
            </div>
            <p>   </p>
            <button class="btn btn-primary" type="submit">Predict</button>
            </form>


<br>
<br>
<br>
{% endblock %}